# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/

# Databases
*.sqlite3
*.db

# Node
node_modules/
