* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
